body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

img {
    width: 20%;
    height: 42vh;
    margin-right: 0.9%;
    border-radius: 9%;
    -webkit-box-shadow: 3px 3px 33px 11px rgba(196,195,228,1);
    -moz-box-shadow: 3px 3px 33px 11px rgba(196,195,228,1);
    box-shadow: 3px 3px 33px 11px rgba(196,195,228,1);
}

.title {
    font-size: 265%;
    font-weight: bold;
    text-transform: uppercase;
}

.ribbon {
    padding-top: 4%;
    background-color: #f9f9f9;
    padding-bottom: 2%
}

.text {
    margin-top: 3%;
    text-align: center;
}

.images {
    margin-top: 4%;
    text-align: center;
    margin-bottom: auto;
}

.gallery {
    display: flex;
    padding-left: 18.4%;
    margin-top: -12.9%;
    padding-right: 7%;
}

.overlay {
    margin-left: -27%;
    width: 38vh;
    padding: 1%;
    border-radius: 10%;
    z-index: 2;
    display: flex;
    flex-direction: row;
}

.backoverlay {
    margin-right: 2%;
    width: 41.4vh;
    height: 26.5vh;
    border-radius: 13.5%;  
    background-image: linear-gradient(rgba(113,13,121,0.7),rgba(107,99,223,0.9));    
    clip-path: polygon(90% 0, 100% 0, 100% 100%, -60% 100%);
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.overlay .visible {
    margin-left: 2%;
    margin-top: auto;
}

.overlay .hidden {
    text-align: center;
    margin-bottom: 25%;
    margin-right: 15%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 13.5%;
    display: none;
}

.overlay:hover .hidden {
    display: inline;
}

.overlay:hover .visible {
    display: none;
}