body{
    font-family: 'Helvetica', 'Arial', sans-serif;
}

img {
    width: 20%;
    height: 42vh;
    margin-right: 0.9%;
    border-radius: 9%;
    -webkit-box-shadow: 3px 3px 33px 11px rgba(196,195,228,1);
    -moz-box-shadow: 3px 3px 33px 11px rgba(196,195,228,1);
    box-shadow: 3px 3px 33px 11px rgba(196,195,228,1);
}

.title{
    font-size: 265%;
    font-weight: bold;
    text-transform: uppercase;
}

.bottom{
    padding-top: 4%;
    background-color: #f9f9f9;
    padding-bottom: 2%
}

.text {
    margin-top: 3%;
    text-align: center;
}

.images {
    margin-top: 4%;
    text-align: center;
    margin-bottom: auto;
}

.overlay {
    display: flex;
    padding-left: 18.4%;
    margin-top: -12.9%
}

.overlay1 {
    text-align: left;
    margin-left: -27%;
    width: 38vh;
    padding: 1%;
    border-radius: 10%;
    z-index: 2;
    display: flex;
    flex-direction: row;
}

.backoverlay1 {
    margin-right: 4%;
    width: 41.4vh;
    height: 26.5vh;
    border-radius: 13.5%;  
    background-image: linear-gradient(rgba(113,13,121,0.7),rgba(107,99,223,0.9));    
    clip-path: polygon(90% 0, 100% 0, 100% 100%, -60% 100%);
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.overlay1 .visible {
    margin-left: 2%;
    margin-top: auto;
}

.overlay1 .hidden {
    text-align: center;
    margin-top:24.5%;
    padding-left: 0.5%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 13.5%;
    display: none;
}

.overlay1:hover .hidden {
    display: inline;
}

.overlay1:hover .visible {
    display: none;
}

.overlay2 {
    margin-left: -24.5%;
    width: 38vh;
    padding: 1%;
    margin-right: 1.4%;
    border-radius: 10%;
    z-index: 2;
    display: flex;
    flex-direction: row;
}

.backoverlay2{
    padding-right: 2%;
    width: 38vh;
    height: 26.5vh;
    border-radius: 13.5%;  
    background-image: linear-gradient(rgba(113,13,121,0.7),rgba(107,99,223,0.9));    
    clip-path: polygon(90% 0, 100% 0, 100% 100%, -60% 100%);
    z-index: 1;
}

.overlay2 .visible {
    margin-left: 2%;
    margin-top: auto;
}

.overlay2 .hidden {
    text-align: center;
    margin-top:24.5%;
    padding-left: 0.5%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 13.5%;
    display: none;
}

.overlay2:hover .hidden {
    display: inline;
}

.overlay2:hover .visible {
    display: none;
}

.overlay3 {   
    text-align: center; 
    margin-left: -24%;
    width: 38vh;
    padding: 1%;
    border-radius: 10%;
    z-index: 2;
    display: flex;
    flex-direction: row;
}

.backoverlay3{
    padding-right: 10%;
    width: 42vh;
    height: 26.5vh;
    border-radius: 13.5%;  
    background-image: linear-gradient(rgba(113,13,121,0.7),rgba(107,99,223,0.9));    
    clip-path: polygon(90% 0, 100% 0, 100% 100%, -60% 100%);
    z-index: 1;
}

.overlay3 .visible {
    margin-left: 2%;
    margin-top: auto;
}

.overlay3 .hidden {
    text-align: center;
    margin-top:24.5%;
    padding-left: 0.5%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 13.5%;
    display: none;
}

.overlay3:hover .hidden {
    display: inline;
}

.overlay3:hover .visible {
    display: none;
}